@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:"Raleway", serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: hsl(44, 100%, 87%);
    height: 100%;
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1vh;
    width: 90%;
    margin: 0 auto;
}


/* En-tête de la page */
header {
    background-color: #004225;
    background-attachment: fixed;
    background-size: 100%;
    color: #FAF3E0;
    padding: min(1.5em, 8%);
    width: 100%;
    text-align: center;
    margin-bottom: 4em;
    box-shadow: 0px 5px 50px rgb(62, 62, 62);
}

#realisations {
    font-size: clamp(1.8rem, 8vw,3rem);
    font-weight: 200;
    font-family: 'Lato', serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FFD700, #F4C542, #FFF5C3, #E1B703);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 3s infinite ease;
    cursor:pointer;
    transition: all 0.3s ease;
}

#realisations:hover {
    color: #ffffff; 
    animation: gradient-move 1.5s infinite ease;
    text-shadow: 0 0 10px #ffe65a, 0 0 15px rgba(255, 231, 93, 0.6);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: clamp(0.5rem,2rem,2.3em);
    margin: 0;
    padding: 0;
}

nav ul li a {
    font-weight: 300;
    font-family: 'Lato', serif;
    text-decoration: none;
    font-size: clamp(0.3em, 4vw, 1.5rem); /* Ajuste la taille selon la largeur */
    color: #FAF3E0;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #FAF3E0;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Footer */
footer {
    bottom: 0;
    text-align: center;
    background-color: #004225;
    color: #FAF3E0;
    padding: 1rem;
    font-size: 1rem;
    width:100%;
}

#mode-toggle {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    padding: min(0.6em, 8%);
    font-size: clamp(0.1em,6vw,1.2rem);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid #fff;
    border-radius: 1000px;
}

#mode-toggle:hover {
    transform: scale(1.1);
    background-color: #fff;
    box-shadow: 20px 0px 40px rgba(255, 255, 255, 0.57), -20px 0px 40px rgba(255, 255, 255, 0.571);
}

/* Bouton de sélection de la langue */
.language-button {
    position: absolute; /* Permet de le placer n'importe où sur la page */
    top: 20px; /* Décalage du haut de la page (ajuste selon ton besoin) */
    left: 20px; /* Décalage du côté gauche de la page */
    background-color: transparent;
    border: 2px solid #fff; /* Bordure fine blanche */
    color: #fff; /* Texte en blanc */
    font-size: clamp(0.1em,3vw,1rem);
    padding: min(0.7em, 8%);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease; /* Transition fluide */
    text-transform: uppercase;
}

.language-button:hover {
    background-color: #fff;
    color: #333;
    transform: translateY(-3px);
    box-shadow: 20px 0px 40px rgba(255, 255, 255, 0.57), -20px 0px 40px rgba(255, 255, 255, 0.571);
}

.language-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
}


.main-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* Espacement entre les galeries */
}

.photos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    background-color: transparent;
}

/* Styles pour les photos */
.photo img {
    width: 100%; /* L'image occupe toute sa cellule */
    height: 100%; /* Respecte les proportions originales */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    object-fit: cover; /* Maintient un bon cadrage */
}

.photo:hover img {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

#filters {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espacement entre les boutons */
    margin-bottom: 1.5rem; /* Espacement sous les boutons */
}

#filters button {
    padding: 10px 20px;
    margin: 1vh;
    background-color:#1e2024;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

#filters button:hover {
    background-color: #E1B703;
}

.theme-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

.theme-button {
    font-size: clamp(0.1em,3vw,1rem);
    padding: min(0.9em, 15%);
    border: none;
    border-radius: 8px;
    background: #333;
    color: #f5f5f5;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.theme-button:hover {
    background: #e0e0e0;
    transform: translateY(-2px);
}

.theme-button.active {
    background: #f5f5f5;
    color: #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

#lightbox img {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/* Fermer la lightbox */
#close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Flèches de navigation */
.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: white;
    cursor: pointer;
    user-select: none;
}

#prev { left: 20px; }
#next { right: 20px; }

/* Mode sombre */
body.dark-mode {
    background-color: #1e2024; /* Fond sombre */
    color: #fff; /* Texte blanc */
}

body.dark-mode header {
    background-color: #1d2638; /* Fond du header sombre */
}

body.dark-mode #mode-toggle {
    border-color: #FAF3E0;
    color: #FAF3E0;
}

/* Sections en mode sombre */
body.dark-mode section {
    background-color: #1d2638; /* Fond sections sombre */
    color: #ddd; /* Texte clair */
}

body.dark-mode a {
    color: #FFD700; /* Liens dorés */
}

/* Autres éléments en mode sombre */
body.dark-mode footer {
    background-color: #1d2638; /* Fond du footer sombre */
}

body.dark-mode #navigation-dots div.active {
    background-color: #1d2638; /* Bleu */
}

body.dark-mode nav ul li a::after {
    background-color: #FFD700;
}

body.dark-mode #filters button {
    background-color: #42464d;
}

body.dark-mode #filters button:hover{
    background-color: #E1B703;
}


@keyframes gradient-move {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
        display:flex;
        flex-direction: column;
        gap: 1vh;
    }
    header{
        width: auto;
    }
    footer{
        width: auto;
    }
    .theme-button{
        border-radius: 10px;
    }
}
