@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Si nécessaire */
    background-color: hsl(44, 100%, 87%);
}

/* Conteneur principal */
main {
    margin: 0 auto;
    padding: 1vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    background-color: #004225;
    color: #FAF3E0;
    padding: min(1.5em, 8%);
    text-align: center;
}


#realisations {
    display: inline-block; /* Limite la zone du texte */
    display: grid;
    justify-content: center;
    font-size: clamp(1.8rem, 8vw,3rem);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, #FFD700, #F4C542, #FFF5C3, #E1B703);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 3s infinite ease;
    cursor: pointer;
    transition: all 0.3s ease;
}

#realisations:hover {
    color: #ffffff; 
    animation: gradient-move 1.5s infinite ease;
    text-shadow: 0 0 10px #ffe65a, 0 0 15px rgba(255, 231, 93, 0.6);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: clamp(0.5rem,2rem,2.3em);
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: clamp(0.3em, 4vw, 1.5rem); /* Ajuste la taille selon la largeur */
    color: #FAF3E0;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #FAF3E0;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}


/* Sections */
section {
    max-width: 700px;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    background:#004225;
    font-size: 1.2rem;
    width: 90%; /* Réduit automatiquement avec l'écran */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    background-color: #004225;
    color: #FAF3E0;
    padding: 1rem;
    font-size: 1rem;
}

#mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid #FAF3E0;
    padding: min(0.6em, 8%);
    font-size: clamp(0.1em,6vw,1.2rem);
    color: #FAF3E0;
    cursor: pointer;
    border-radius: 100px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1d2638;
    transition: all 0.6s ease-in-out;
}

/* Animation de glissement */
#mode-toggle {
    transition: transform 0.3s ease-in-out;
}

#mode-toggle:hover {
    transform: scale(1.1);
    background-color: rgb(71, 71, 66);
}

/* Style du bouton */
.language-button {
    position: absolute; /* Permet de le placer n'importe où sur la page */
    top: 20px; /* Décalage du haut de la page (ajuste selon ton besoin) */
    left: 20px; /* Décalage du côté gauche de la page */
    background-color: transparent;
    border: 2px solid #fff; /* Bordure fine blanche */
    color: #fff; /* Texte en blanc */
    font-size: clamp(0.1em,3vw,1rem);
    font-weight: bold;
    padding: min(0.7em, 8%);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease; /* Transition fluide */
    text-transform: uppercase;
}

/* Effet hover */
.language-button:hover {
    background-color: #fff; /* Fond blanc au survol */
    color: #333; /* Texte foncé au survol */
    transform: translateY(-3px); /* Légère élévation */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

/* Effet focus */
.language-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
}

#gallery {
    margin: 0 auto; /* Centre horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF3E0;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 800px; /* Limite la largeur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#gallery:hover {
    transform: scale(1.002);
}

#gallery h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333333; /* Contraste léger */
}

#main-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* Espacement entre les galeries */
    width: 100%;
}

.photos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
}

/* Styles pour les photos */
.photo img {
    width: 100%; /* L'image occupe toute sa cellule */
    height: 100%; /* Respecte les proportions originales */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    object-fit: cover; /* Maintient un bon cadrage */
}

.photo:hover img {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

#filters {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espacement entre les boutons */
    margin-bottom: 1.5rem; /* Espacement sous les boutons */
}

#filters button {
    padding: 10px 20px;
    margin: 1vh;
    background-color:#1e2024;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

#filters button:hover {
    background-color: #E1B703;
}


/* Mode sombre */
body.dark-mode {
    background-color: #1e2024; /* Fond sombre */
    color: #fff; /* Texte blanc */
}

body.dark-mode header {
    background-color: #1d2638; /* Fond du header sombre */
}

body.dark-mode #mode-toggle {
    border-color: #FAF3E0;
    color: #FAF3E0;
}

/* Sections en mode sombre */
body.dark-mode section {
    background-color: #1d2638; /* Fond sections sombre */
    color: #ddd; /* Texte clair */
}

body.dark-mode a {
    color: #FFD700; /* Liens dorés */
}

/* Autres éléments en mode sombre */
body.dark-mode footer {
    background-color: #1d2638; /* Fond du footer sombre */
}

body.dark-mode #navigation-dots div.active {
    background-color: #1d2638; /* Bleu */
}

body.dark-mode nav ul li a::after {
    background-color: #FFD700;
}

body.dark-mode #filters button {
    background-color: #1e2024;
}

body.dark-mode #filters button:hover{
    background-color: #E1B703;
}

@keyframes gradient-move {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

@media screen and (max-width: 428px) and (max-height: 926px) {
    main {
        width: 100%; /* Prend toute la largeur */
    }
    nav ul {
        display:flex;
        flex-direction: column;
        gap: 1vh;
    }
    section {
        max-width: 300px;
        margin: 0 auto; /* Centre horizontalement */
    }
    #gallery {
        width: 75%; /* S'assure que ça reste dans le viewport */
        margin: 0 auto;
    }
}
