/* Importation de la police Lato depuis Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

/* Style général du corps de la page */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(44, 100%, 87%);
}

/* Conteneur principal pour centrer le contenu */
main {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* En-tête de la page */
header {
    background-color: #004225;
    color: #FAF3E0;
    padding: 2rem 1rem;
    text-align: center;
}

/* Animation et style du titre "Armand" */
#Armand {
    display: inline-block;
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, #FFD700, #F4C542, #FFF5C3, #E1B703);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 3s infinite ease;
    cursor: pointer;
    transition: all 0.3s ease;
}

#Armand:hover {
    color: #ffffff;
    animation: gradient-move 1.5s infinite ease;
    text-shadow: 0 0 10px #ffe65a, 0 0 15px rgba(255, 231, 93, 0.6);
}

/* Navigation principale */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: #FAF3E0;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #FAF3E0;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Carrousel d'images ou contenu */
#carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    overflow: hidden;
    width: 100%;
    height: 70vh;
}

.carousel-item {
    position: absolute;
    width: 80%;
    height: 70%;
    max-width: 800px;
    background: #FAF3E0;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
    transform: scale(0.8) translateZ(-200px);
}

.carousel-item.active {
    opacity: 1;
    transform: scale(1) translateZ(0);
    z-index: 10;
}

.carousel-item.prev, .carousel-item.next {
    opacity: 0.6;
    transform: scale(0.9) translateZ(-100px);
    z-index: 5;
}

.carousel-item h2 {
    font-size: 2.5vw;
}

.carousel-item p, .carousel-item div, .carousel-item a {
    font-size: 2vw;
    line-height: 1.6;
}

/* Points de navigation du carrousel */
#navigation-dots {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 15;
}

#navigation-dots div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(0.7);
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, background-color 0.3s;
}

#navigation-dots div.active {
    background-color: #004225;
    transform: scale(1.2);
}

/* Sections principales de contenu */
section {
    padding: 2rem;
    text-align: center;
    background: #FAF3E0;
    font-size: 1.2rem;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Pied de page */
footer {
    text-align: center;
    background-color: #004225;
    color: #FAF3E0;
    padding: 1rem;
    font-size: 1rem;
}

/* Bouton de bascule du mode sombre */
#mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid #FAF3E0;
    padding: 5px;
    font-size: 1.5rem;
    color: #FAF3E0;
    cursor: pointer;
    border-radius: 100px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2638;
}

#mode-toggle:hover {
    transform: scale(1.1);
}

/* Bouton de sélection de la langue */
.language-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    text-transform: uppercase;
}

.language-button:hover {
    background-color: #fff;
    color: #333;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.language-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: #1e2024;
    color: #fff;
}

body.dark-mode header {
    background-color: #1d2638;
}

body.dark-mode #mode-toggle {
    border-color: #FAF3E0;
    color: #FAF3E0;
}

body.dark-mode section {
    background-color: #1d2638;
    color: #ddd;
}

body.dark-mode a {
    color: #FFD700;
}

body.dark-mode footer {
    background-color: #1d2638;
}

body.dark-mode #navigation-dots div.active {
    background-color: #1d2638;
}

body.dark-mode nav ul li a::after {
    background-color: #FFD700;
}

/* Animation pour le gradient de texte */
@keyframes gradient-move {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

/* Media Queries pour petits écrans */
@media (max-width: 768px) {
    header {
        padding: 2rem 0;
    }

    #Armand {
        font-size: 2rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    section {
        max-width: 90%;
        padding: 20px;
    }

    #carousel {
        height: 50vh;
    }

    #navigation-dots {
        left: 2%;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    #Armand {
        font-size: 1.5rem;
    }

    section {
        max-width: 100%;
        padding: 10px;
    }

    #carousel {
        height: 40vh;
    }

    #navigation-dots {
        gap: 10px;
    }
}
@media (max-width: 926px) and (max-height: 428px) {
    header {
      width: 100vw; /* Prend toute la largeur de l'écran */
      height: auto; /* Ajuste la hauteur automatiquement */
      display: flex; /* Garde l'alignement fluide */
      justify-content: center; /* Centre le contenu horizontalement */
      align-items: center; /* Centre le contenu verticalement */
      background-color: #004400; /* Ajuste la couleur si nécessaire */
    }

    footer {
        width: 100vw; /* Prend toute la largeur de l'écran */
        height: auto; /* Ajuste la hauteur automatiquement */
        display: flex; /* Garde l'alignement fluide */
        justify-content: center; /* Centre le contenu horizontalement */
        align-items: center; /* Centre le contenu verticalement */
        background-color: #004400; /* Ajuste la couleur si nécessaire */
    }
  }
